NEXT_PUBLIC_ADPOOL_ADDRESS=
NEXT_PUBLIC_ADREGISTRY_ADDRESS=
NEXT_PUBLIC_REVENUE_DISTRIBUTOR_ADDRESS=
NEXT_PUBLIC_REPUTATION_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_CHAIN_ID=10143
NEXT_PUBLIC_PROXY_URL=http://localhost:4021
ADSHELL_ADMIN_API_KEY=adshell-admin

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://<user>:<password>@<host>:6543/<database>?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://<user>:<password>@<host>:5432/<database>"
